<div class="item-info-card">
  <div class="info-content-body">
    {{{bodyHTML}}}
  </div>
  <footer class="dialog-footer" style="margin-top: 10px; display: flex; justify-content: flex-end;">
    <button type="button" class="trp-btn close" data-action="close" style="width: 100%;">
      <i class="fas fa-times"></i> {{localize "TRESPASSER.Global.Action.Close"}}
    </button>
  </footer>
</div>
