<nav class="dungeon-icon-tabs sheet-tabs" data-group="primary">
  {{#each tabs}}
  <a class="item {{cssClass}}" data-tab="{{id}}" data-action="switchTab">
    <i class="fas fa-{{icon}}"></i>
  </a>
  {{/each}}
</nav>
