<header class="sheet-header item-header-layout">
  <div class="header-column image-column">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
  </div>
  <div class="header-column details-column">
    <h1 class="item-title">
      <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'TRESPASSER.ItemTypes.deed'}}"/>
    </h1>
  </div>
</header>
